@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.css";

$white-color: white;

a {

  &:hover {
    color: white;
    text-decoration: none;
  }
  &:visited {
    color: white;
  }
  &:link {
    color: white;
  }
}